<%= form_with(model: bulletin, local: true) do |form| %>
  <% if bulletin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bulletin.errors.count, "error") %> prohibited this bulletin from being saved:</h2>

      <ul>
      <% bulletin.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :id %>
    <%= form.text_field :id, id: :bulletin_id %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description, id: :bulletin_description %>
  </div>

  <div class="field">
    <%= form.label :source %>
    <%= form.text_field :source, id: :bulletin_source %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
