<h1>Listing vulnerabilities</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @vulnerabilities.each do |vulnerability| %>
  <tr>
    <td><%= vulnerability.id %></td>
    <td><%= vulnerability.description %></td>
    <td><%= link_to 'Show', [vulnerability.admin, vulnerability] %></td>
    <td><%= link_to 'Edit', edit_admin_vulnerability_path(vulnerability.admin, vulnerability) %></td>
    <td><%= link_to 'Destroy', [vulnerability.admin, vulnerability], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Vulnerability', new_admin_vulnerability_path(params[:admin_id]) %>
