<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @vulnerability.id %>
</p>

<p>
  <b>Description:</b>
  <%= @vulnerability.description %>
</p>


<%= link_to 'Edit', edit_admin_vulnerability_path(@vulnerability.admin, @vulnerability) %> |
<%= link_to 'Back', admin_vulnerabilities_path(@vulnerability.admin) %>
